.navbar-brand {
  color: #01212c !important;
  pointer-events: none;
}

.nav-link {
  color: #01212c !important;
}
.relance {
  color: red;
}
.fa-power-off {
  color: red;
}
.nav-item {
  margin-right: 2vw;
}
.nav-link > span {
  margin-left: 5px;
}

.bell-red {
  color: red;
}
